.venv
exam/258646_Daniele_DellaPietra/LM/part_A/wandb/
exam/258646_Daniele_DellaPietra/LM/part_A/model_bin/
exam/258646_Daniele_DellaPietra/LM/part_B/wandb/
exam/258646_Daniele_DellaPietra/LM/part_B/model_bin/